<!DOCTYPE html>
<html>
<head>
  <title>Short URL Created</title>
</head>
<body>
  <h1>Short URL Created Successfully!</h1>
  <p>
    Original URL: <%= originalUrl %><br>
    Short URL: <%= shortUrl %><br>
    <% if (password) { %>
      Password: <%= password %><br>
    <% } %>
    URL Created Date: <%= urlCreatedDate %>
  </p>
  <img src="cid:logo" alt="Zip URL Image">
</body>
</html>
