<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="../Assets/zipurl-website-favicon-color.svg" />
  <title>ZipUrl | Password Verification Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <style>
    .my-component {
      background-color: white;
      border: 1px solid black;
      border-radius: 13px;
      box-shadow: 8px 8px 0px -1px rgba(0, 0, 0, 0.75);
    }
    #redirectingMessage, #passwordWrongMessage {
      display: none;
      color: red;
    }
  </style>
</head>

<body>
  <div class="container" style="margin-top: 100px;">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">

          <div class="panel-body my-component">
            <h1 class="text-center">Password Page</h1>
            <form action="/verify/url" method="post" id="passwordForm">
              <div class="form-group">
                <h3 id="redirectingMessage" style="color: rgb(0, 212, 0);">Redirecting in.... </h3>
                

                <label for="password">Password:</label>
                <input type="password" class="form-control" placeholder="Enter your password" id="password"
                  name="password" autocomplete="off" required>
                <p id="passwordWrongMessage">Password is incorrect. Please try again.</p>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-danger" id="submitButton">Submit</button>
              </div>
              <p><a href="http://localhost:5173/" target="_blank">Try Services</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.getElementById("passwordForm").addEventListener("submit", async function (event) {
      event.preventDefault();

      const passwordValue = document.getElementById("password").value;
      let response = await fetch('/verify/url/<%= shortUrl %>', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ password: passwordValue })
      })
      const data = await response.json();
      console.log("res: ", data);
      if (data.msg === "YES") {
        document.getElementById("redirectingMessage").style.display = "block";

        // Hide the password form and password wrong message
        // document.getElementById("passwordForm").style.display = "none";
        // document.getElementById("passwordWrongMessage").style.display = "none";

        // Redirect to the original URL after 3 seconds
        setTimeout(function () {
          window.location.href = data.originalUrl;
        }, 3000); // Change the delay time (in milliseconds) as needed
      } else if (data.msg === "NO") {
        document.getElementById("passwordWrongMessage").style.display = "block";
      }
    });

    document.getElementById("password").addEventListener("focus", function () {
      document.getElementById("passwordWrongMessage").style.display = "none";
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>

</html>
